/** 
 + ---------------------------------------- +
 + 日历控件 Css v1.0
 + Author: angtian
 + Mail: angtian.fgm@taobao.com
 + ---------------------------------------- +
 + Date: 2012-01-06
 + ---------------------------------------- +
**/
.calendar {
    margin-top: 3px;
    position: relative;
    float: left;
    clear: both;
    border: 1px solid;
    border-color: #ccc;
    padding: 0 0px 0px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 8px #333;
    -moz-box-shadow: 2px 2px 8px #333;
}
.cal-container{float:left;margin:0;}
.calendar dl{width:183px;color:#404040;font:12px/22px Tahoma;margin:10px 10px 0; background:#F0F3F5}
.calendar dl,.calendar dt,.calendar dd{text-align:center;margin:0;padding:0;}
.calendar dt{float:left;width:26px;line-height:22px;background:#f0f3f5; color:#555859;}
.calendar dt strong{ color:#E86702 !important;}
.calendar dt.date{width:100%;font-weight:700;margin:0; line-height:29px; height:29px; background:#23b7b7;; color:#fff; border:none}
.calendar dt.date div{margin-bottom:5px;}
.calendar dt.date select{font-size:12px;font-family:inherit;margin:0 5px;}
.calendar dd{clear:both;width:183px;height:139px;font-weight:700;background:url(../cssimg/calendar_table.png) no-repeat;}
.calendar dd a,.calendar dd a span{float:left;width:25px;height:22px;color:#404040;overflow:hidden;text-decoration:none;background-image:url(../cssimg/fete_day.png);background-position:-999px -999px;background-repeat:no-repeat;margin:1px 0 0 1px;outline:none;}
.calendar dd a:hover,.calendar dd a.selected,.calendar dd a.start-date,.calendar dd a.select-range:hover{color:#FFF;background-color:#23b7b7;}
.calendar dd a.disabled,.calendar dd a.disabled:hover{color:#DCDCDC;cursor:default;background-color:transparent!important;}
.calendar dd a span{display:block;width:25px;height:22px;margin:0;cursor:pointer;}
.cal-prev,.cal-next,.cal-close{position:absolute;cursor:pointer;overflow:hidden;text-indent:-9999px;background:url(../cssimg/calendar_bg.png) no-repeat;}
.cal-prev,.cal-next{top:4px;width:21px;height:21px;margin-top:0px;}
.cal-prev{left:5px;background-position:0 -30px;}
.cal-next{right:5px;background-position:-21px -30px;}
.cal-close{top:8px;right:8px;width:17px;height:17px;background-position:-40px -25px;}

.calendar dd a.yuandan,
.calendar dd a.chuxi,
.calendar dd a.chunjie,
.calendar dd a.yuanxiao,
.calendar dd a.qingming,
.calendar dd a.wuyi,
.calendar dd a.duanwu,
.calendar dd a.zhongqiu,
.calendar dd a.guoqing,
.calendar dd a.today
{text-indent:-999px;}

.calendar dd a.yuandan{background-position:0 0;}
.calendar dd a.chuxi{background-position:0 -30px;}
.calendar dd a.chunjie{background-position:0 -60px;}
.calendar dd a.yuanxiao{background-position:0 -90px;}
.calendar dd a.qingming{background-position:0 -120px;}
.calendar dd a.wuyi{background-position:0 -150px;}
.calendar dd a.duanwu{background-position:0 -180px;}
.calendar dd a.zhongqiu{background-position:0 -210px;}
.calendar dd a.guoqing{background-position:0 -240px;}
.calendar dd a.today{background-position:0 -270px;}

.calendar dd a.yuandan:hover,
.calendar dd a.yuandan:hover .select-range,
.calendar dd a.yuandan .selected,
.calendar dd a.yuandan .start-date
{background-position:-31px 0;}
.calendar dd a.chuxi:hover,
.calendar dd a.chuxi:hover .select-range,
.calendar dd a.chuxi .selected,
.calendar dd a.chuxi .start-date
{background-position:-31px -30px;}
.calendar dd a.chunjie:hover,
.calendar dd a.chunjie:hover .select-range,
.calendar dd a.chunjie .selected,
.calendar dd a.chunjie .start-date
{background-position:-31px -60px;}
.calendar dd a.yuanxiao:hover,
.calendar dd a.yuanxiao:hover .select-range,
.calendar dd a.yuanxiao .selected,
.calendar dd a.yuanxiao .start-date
{background-position:-31px -90px;}
.calendar dd a.qingming:hover,
.calendar dd a.qingming:hover .select-range,
.calendar dd a.qingming .selected,
.calendar dd a.qingming .start-date
{background-position:-31px -120px;}
.calendar dd a.wuyi:hover,
.calendar dd a.wuyi:hover .select-range,
.calendar dd a.wuyi .selected,
.calendar dd a.wuyi .start-date
{background-position:-31px -150px;}
.calendar dd a.duanwu:hover,
.calendar dd a.duanwu:hover .select-range,
.calendar dd a.duanwu .selected,
.calendar dd a.duanwu .start-date
{background-position:-31px -180px;}
.calendar dd a.zhongqiu:hover,
.calendar dd a.zhongqiu:hover .select-range,
.calendar dd a.zhongqiu .selected,
.calendar dd a.zhongqiu .start-date
{background-position:-31px -210px;}
.calendar dd a.guoqing:hover,
.calendar dd a.guoqing:hover .select-range,
.calendar dd a.guoqing .selected,
.calendar dd a.guoqing .start-date
{background-position:-31px -240px;}
.calendar dd a.today:hover,
.calendar dd a.today:hover .select-range,
.calendar dd a.today .selected,
.calendar dd a.today .start-date
{background-position:-31px -270px;}

.calendar dd a.end-date,
.cal-end dd a:hover,
.cal-end dd a.select-range:hover 
{color:#FFF;background-color:#23b7b7;}

.calendar dd a.yuandan .end-date,
.cal-end dd a.yuandan:hover,
.cal-end dd a.yuandan:hover .select-range
{background-position:-62px 0;}
.calendar dd a.chuxi .end-date,
.cal-end dd a.chuxi:hover,
.cal-end dd a.chuxi:hover .select-range
{background-position:-62px -30px;}
.calendar dd a.chunjie .end-date,
.cal-end dd a.chunjie:hover,
.cal-end dd a.chunjie:hover .select-range
{background-position:-62px -60px;}
.calendar dd a.yuanxiao .end-date,
.cal-end dd a.yuanxiao:hover,
.cal-end dd a.yuanxiao:hover .select-range
{background-position:-62px -90px;}
.calendar dd a.qingming .end-date,
.cal-end dd a.qingming:hover,
.cal-end dd a.qingming:hover .select-range
{background-position:-62px -120px;}
.calendar dd a.wuyi .end-date,
.cal-end dd a.wuyi:hover,
.cal-end dd a.wuyi:hover .select-range
{background-position:-62px -150px;}
.calendar dd a.duanwu .end-date,
.cal-end dd a.duanwu:hover,
.cal-end dd a.duanwu:hover .select-range
{background-position:-62px -180px;}
.calendar dd a.zhongqiu .end-date,
.cal-end dd a.zhongqiu:hover,
.cal-end dd a.zhongqiu:hover .select-range
{background-position:-62px -210px;}
.calendar dd a.guoqing .end-date,
.cal-end dd a.guoqing:hover,
.cal-end dd a.guoqing:hover .select-range
{background-position:-62px -240px;}
.calendar dd a.today .end-date,
.cal-end dd a.today:hover,
.cal-end dd a.today:hover .select-range
{background-position:-62px -270px;}


.calendar dd a.select-range{background-color:#E5F2FA;}
.calendar dd a.yuandan .select-range{background-position:-93px 0;}
.calendar dd a.chuxi .select-range{background-position:-93px -30px;}
.calendar dd a.chunjie .select-range{background-position:-93px -60px;}
.calendar dd a.yuanxiao .select-range{background-position:-93px -90px;}
.calendar dd a.qingming .select-range{background-position:-93px -120px;}
.calendar dd a.wuyi .select-range{background-position:-93px -150px;}
.calendar dd a.duanwu .select-range{background-position:-93px -180px;}
.calendar dd a.zhongqiu .select-range{background-position:-93px -210px;}
.calendar dd a.guoqing .select-range{background-position:-93px -240px;}
.calendar dd a.today .select-range{background-position:-93px -270px;}

.cal-end dd a.hover{background-color:#E5F2FA;}
.cal-end dd a.yuandan .hover{background-position:-124px 0;}
.cal-end dd a.chuxi .hover{background-position:-124px -30px;}
.cal-end dd a.chunjie .hover{background-position:-124px -60px;}
.cal-end dd a.yuanxiao .hover{background-position:-124px -90px;}
.cal-end dd a.qingming .hover{background-position:-124px -120px;}
.cal-end dd a.wuyi .hover{background-position:-124px -150px;}
.cal-end dd a.duanwu .hover{background-position:-124px -180px;}
.cal-end dd a.zhongqiu .hover{background-position:-124px -210px;}
.cal-end dd a.guoqing .hover{background-position:-124px -240px;}
.cal-end dd a.today .hover{background-position:-124px -270px;}

.date-info,.date-info-start,.date-info-end{position:absolute;height:13px;line-height:13px;overflow:hidden;top:51%;margin-top:-8px;right:5px;font-size:12px;color:#A1A1A1;background:url(../cssimg/calendar_bg.png) no-repeat right -108px;padding-right:25px; padding-top:2px;}
.date-info-start{background-position:right -66px; cursor:pointer;}
.date-info-end{background-position:right -96px;cursor:pointer;}

.cal-msg{color:#666;background:#FFF3E8;border:1px solid #FF9751;padding:0 7px;line-height:25px;}

.calendar .line_calendar{width:2px; height:190px; background:#ccc; position:absolute; overflow:hidden;left:183px;opacity:0.5;filter:alpha(opacity=50);}

/*120918 jt*/
.booking-box{background:#fff url(../cssimg/bg_select.png) no-repeat; background-position:right center;}

.cal-prompt {
    background: #fff;
    color: #ef5809;
    margin: 196px 10px 6px 10px;
    text-align: center;
}